{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}

<!-- navbar from macros.hmtl -->
{{ macros.navbar() }}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1>My First Flask App</h1>
    <p>Let's learn some Flask!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    {{ macros.list_items(posts=posts) }}
    <hr>
    {{ macros.footer() }}
</div> <!-- /container -->
{% endblock %}