{% macro navbar() -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
    </div>
</nav>
{%- endmacro %}

{% macro list_items(posts) -%}
<div class="row">
{% for post in posts %}
<div class="col-md-12">
    <h2>{{ post['title'] }}</h2>
    <p>{{ post['content'] }}</p>
    <form action="/delete_post/{{ post['id'] }}" method="post">
        <p><input type="submit" class="btn btn-lg btn-danger" value="delete"></input></p>
    </form>
</div>
{% endfor %}
</div>
{%- endmacro %}

{% macro footer() -%}
<footer>
    <p>
      UMBC Hackers - <a href="http://kevcoxe.github.io/Simple-Flask-App/" target="_blank">Follow the Tutorial</a>
    </p>
</footer>
{%- endmacro %}
