{% macro navbar() -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
    </div>
    </div>
</nav>
{%- endmacro %}

{% macro list_items() -%}
<div class="row">
<div class="col-md-4">
    <div class="well">
        <h2>Some Title</h2>
        <p>Some Content</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
<div class="col-md-4">
    <div class="well">
        <h2>Some Title</h2>
        <p>Some Content</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
<div class="col-md-4">
    <div class="well">
        <h2>Some Title</h2>
        <p>Some Content</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
</div>
{%- endmacro %}